<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="list-group" style="text-align: center; width: 300px; ">
        <a href="#" class="list-group-item list-group-item-action active font-italic">
          Lista de tareas
        </a>
        <a href="#" class="list-group-item list-group-item-action font-italic ">Realizar un CRUD</a>
        <a href="#" class="list-group-item list-group-item-action font-italic">Realizar moviles vanzados</a>
        <a href="#" class="list-group-item list-group-item-action font-italic">Realizar aplicacines Web "lab"</a>
        <a href="#" class="list-group-item list-group-item-action font-italic">Realizar el excel de empresariales</a>
      </div>
      <hr>
</body>
<hr>

<style>
    div{
        width: 300px; /* Ajusta el ancho según tus necesidades */
        margin: 0 auto;
    }
    hr {
    border: none;
    border-top: 1px solid black;
  }
</style>
</html>
